/* *** common *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contaneir {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

/* *** header *** */

/* *** main *** */

.box {
    width: 30%;
    height: 460px;
    margin-left: 21px;
    margin-right: 10px;
    margin-bottom: 80px;
    position: relative;
}

.img-1:hover .overlay {
    background-image: url(../img/1b.webp);
    background-position: center;
    background-size: cover;
}

.img-2:hover .overlay {
    background-image: url(../img/2b.webp);
    background-position: center;
    background-size: cover;
}

.img-3:hover .overlay {
    background-image: url(../img/3b.webp);
    background-position: center;
    background-size: cover;
}

.img-4:hover .overlay {
    background-image: url(../img/4b.webp);
    background-position: center;
    background-size: cover;
}

.img-5:hover .overlay {
    background-image: url(../img/5b.webp);
    background-position: center;
    background-size: cover;
}

.img-6:hover .overlay {
    background-image: url(../img/6b.webp);
    background-position: center;
    background-size: cover;
}


.preferiti {
    width: 30px;
    height: 30px;
    background-color:white;
    position: absolute;
    right: 0;
    top: 10px;
    line-height: 30px;
    text-align: center;   
}

.saldi {
    height: 30px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 10px;
    line-height: 30px;
    text-align: center;
    color: white;
}

.sostenibilita {
    height: 30px;
    background-color: rgb(18, 175, 18);
    position: absolute;
    left: 40px;
    bottom: 10px;
    line-height: 30px;
    text-align: center;
    color: white;
}

#sostenibilita {
    height: 30px;
    background-color: rgb(18, 175, 18);
    position: absolute;
    left: o;
    bottom: 10px;
    line-height: 30px;
    text-align: center;
    color: white;
}

img {
    width: 100%;
    object-fit: cover;  
}

.prodotto {
    position: absolute;
    bottom: -60px;
    left: 0;
    line-height: 1.0;
}

h3 {
    text-transform: uppercase;
}

#saldo {
    color: red;
}

#prezzo-originale {
    text-decoration: line-through;
}

/* *** footer *** */

/* *** debug *** */

/* .debug.contaneir {
    height: 800px;
    background-color: blue;
}

.debug .box {
    height: 460px;
    border-right: 2px solid brown;
    border-bottom: 2px solid brown;
    background-color: chartreuse;
} */

/* .debug .preferiti {
    width: 30px;
    height: 30px;
    background-color: grey;
} */

/* .debug .saldi {
    width: 30px;
    height: 30px;
    background-color: red;
} */

/* .debug .sostenibilita {
    width: 30px;
    height: 30px;
    background-color: rgb(18, 175, 18);
} */

/* .debug #sostenibilita {
    width: 30px;
    height: 30px;
    background-color: rgb(18, 175, 18);
} */

